/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#splashScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: white;
    color: black;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border: 2px solid black;
    border-radius: 10px;
}

#headerLabel {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 5px;
    font-size: 16px;
    color: black;
    background-color: white; 
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
}
